body {
    margin: 0;
}

/* header*/
.header_image {
    height: 492px;
    background-image: url("../images/about_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.navigation_bar ul li a:hover{
    color:#ceae92;
}
.btn_1 button:hover{
    background-color: black;
}
.btn_1 button a{
    text-decoration: none;
    color:white;
}

.icon_1 {
    margin-left: 24px;
}

.time_icons p {
    color: white;
    margin-top: 5px;
}

.time_icons {
    display: flex;
}

.time_icons i {
    color: white;
    margin-right: 10px;
    /* margin-top:5px; */
}

.time_icons {
    margin: auto;
    width: 21%;
    margin-top: 5px;
    display: flex;
}

.icon_23 {
    display: flex;
    margin-top: 5px;
}

.icons_4 {
    margin: auto;
    width: 9%;
}

.icons_4 i {
    color: white;
    margin-right: 10px;
}

.logo_image {
    background-color: #ceae92;
    padding: 34px;
    padding-bottom: 17px;
    width: 214px;
    position: absolute;
    /* top:0px; */
}

.small_heading {
    height: 40px;
    width: 100%;
    background-color: #32343b;
    position: relative;
    z-index: 1;
    display: flex;

}

.flex_div1 {
    display: flex;
}

.navigation_bar ul {
    list-style-type: none;
}

.navigation_bar {
    position: relative;
    z-index: 1;
    width: 35%;
    margin: auto;
}

.navigation_bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 70px;
}

.nav_bar {
    display: flex;
    margin: auto;
    width: 133%;
    margin-top: 36px;
}

.searchbar_button i {
    color: white;
    /* margin-left: 9px; */
    font-size: 26px;
    margin-top: 10px;
    margin-left: 99px;
}

.searchbar_button {
    margin: auto;
    width: 211px;
    margin-top: 38px;
    display: flex;
    position: relative;
    z-index: 1;
}

.about_us_heading {
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}

.about_us_heading h1 {
    margin-top: 195px;
    font-size: 59px;
    color: white;
}

.flex_div11 {
    display: flex;
}

.btn_1 button {
    width: 209px;
    height: 46px;
    background-color: #ceae92;
    color: white;
    border: 0px;
}

.btn_1 {
    margin-left: 33px;
}

.opacity_1 {
    height: 492px;
    background-color: black;
    position: absolute;
    width: 100%;
    opacity: 0.6;
    top: 0;
}

.location_icon {
    margin: auto;
    width: 54%;
    display: flex;

}

.location_icon i {
    color: white;
    font-size: 17px;
    margin-top: 10px;
    color: #ceae92;
}

.location_icon p {
    color: white;
    font-size: 14px;
    margin-left: 17px;
    width: 62%;
    margin-top: 8px;
}

.icon_11 i {
    margin-left: 198px;
    font-size: 17px;
    color: #ceae92;
}

.mail_10 i {
    color: white;
    font-size: 24px;
}

.drop1 {
    display: flex
}

.logo_image_1 {
    display: none;
}

.inner-drop i {
    color: white;
    position: relative;
    z-index: 1;
    right: 0;
    font-size: 40px;
    left: 70px;
    display: none;
}

.inner-drop ul {
    list-style: none;
    color: white;
    position: relative;
    z-index: 1;
    display: none;
}

.inner-drop {
    display: none;
}

.search_10 {
    display: none;
}

.btn_1_media {
    display: none;

}

.btn_1_media button {
    width: 115px;
    height: 46px;
    background-color: #ceae92;
    color: white;
    border: 0px;
    position: relative;
    z-index: 1;

}
.card-body{
    /* display: flex; */
    margin: auto;
    width: 134%;
}
.card-body button{
    margin: auto;
    /* width: 22%; */
    height: 31px;
    width: 85px;
}
.card-title{
    font-size:23px;
}
.demo button{
    background-color: #ceae92;
    border: 0;
    color:white;
}
.luxury_apartmnt h5{
    width:205px;
}
.row_1{
    margin-top:168px;
}
.row_2{
    margin-top:30px;
}
.btn_12{
    font-size:12px;
}
.col{
    position: relative;
}
.image_12 img{
    position: relative!important;
    z-index: 0;
}
.opacity_20{
    height:332px;
    background-color: black;
    position:absolute;
    z-index: 1;
    width:100%;
    opacity: 0.3;
    display:none;

}
.image_12:hover .opacity_20{
    display: block;
}

/*footer*/
.main-div-900 {
    background-color: black;
    position: relative;
    height: 400px;
    display: flex;
    margin-top:65px;
}
.flex_div900 {
    display: flex;
    margin: auto;
    margin-top: 99px;
}
.inner-div-888 {
    position: relative;

}
.image_div img {
    opacity: 0.2;

}

.image_div {
    position: absolute;
    bottom: 0px;
}
.icon_description p {
    color: white;
    width: 269px;
}
.icon_div454 {
    display: flex;
}
.icon_div {
    width: 32px;
}
.icon_div i {
    color: white;
}
.icon_facebook {
    width: 32px;
}
.icon_facebook i {
    color: white;
}
.icon_pinterest {
    width: 32px;
}
.icon_pinterest i {
    color: white;
}
.icon_instagram i {
    color: white;
}
.explore {
    color: white;
    margin-left: 54px;
}
.explore ul {
    list-style-type: none;
    color: #87898e;
}

.explore h1 {
    font-size: 19px;
    margin-left: 31px;
}
.Find {
    color: white;
}
.Find h1 {
    font-size: 19px;
    margin-left:66px;
}
.Find pre {
    color: #87898e;
}
.find h1 {
    margin-left: 90px;
}
.contact {
    margin-left: 63px;
}
.contact h1 {
    color: white;
    font-size: 19px;
}
.contact p {
    color: #87898e;
}
.telephone_icon {
    display: flex;
    color: white;
}
.telephone_icon i {
    width: 23px;
    margin-top: 5px;
    color: #ceae92;
}
.clock {
    display: flex;
    color: white;
}
.clock i {
    width: 23px;
    margin-top: 5px;
    color: #ceae92;
}
.mail_100 {
    display: flex;
    color: white;

}

.mail_100 i {
    width: 23px;
    margin-top: 5px;
    color: #ceae92;
}
.copyright {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
.drop1{
    display: flex
}
.inner-drop i{
    color: white;
    position: relative;
    z-index: 1;
    right: 0;
    font-size: 40px;
    left: 70px;
    display: none;
}
.inner-drop ul{
    list-style: none;
    color: white;
    position: relative;
    z-index: 1;
    display: none;
}
.inner-drop{
    display: none;
}
.search_10{
    display: none;
}
.btn_1_media{
    display:none;
   
}
.btn_1_media button{
    width: 115px;
    height: 46px;
    background-color: #ceae92;
    color: white;
    border: 0px;
    position: relative;
    z-index: 1;
    
}
.Find p{
    width:448px;
}


@media only screen and (min-width:320px) and (max-width:480px) {

    .small_heading {
        display: none;
    }

    .inner-drop i {
        display: block;
    }
    .inner-drop i{
        left:161px;
    }
    .search_10 i{
        left:49px;
    }
    .inner-drop{
    display: block;
    position: absolute;
    left: 108px;
    }

    .inner-drop:hover .search_10 {
        display: block;
    }

    .inner-list li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }

    .flex_div11 {
        display: none;
    }


    .inner-drop:hover .inner-list {
        display: block;
    }

    .inner-drop:hover .search_10 {
        display: block;
    }

    .inner-drop:hover .btn_1_media {
        display: block;
    }
    .btn_1_media button{
        width:144px;
    }
    .inner-list{
        background-color: #ceae92;;
        padding: 30px;
    }
    .about_us_heading h1{
        margin-top: 163px;
    font-size: 39px;
    }

    .logo_image_1 {
        display: block;
    }

    .inner-drop:hover .btn_1_media {
        display: block;
    }

    .logo_image_1 {
        position: relative;
        z-index: 1;
        padding-right: 34px;
        padding: 0px;
        width: 107px;
        height: 70px;
        padding-bottom: 0px;
        background-color: #ceae92
    }

    .logo_image_1 img {
        height: 51px;
        width: 96px;
    }
    
    .header_image{
        width:318px;
    }
    .flex_div900{
        display:block;
        margin-left:20px;
    }
    .main-div-900{
        height:679px;
    }
    .explore{
        margin-left:0px;
    }
    .explore h1{
        margin-left: 0px;
    }
    .Find h1{
        margin-left:0px;
    }
    .contact{
        margin-left:0px;
    }
    .card-body button{
        width:73px;
    }
    .opacity_20{
        height:236px;
    }
    .explore ul{
        padding: 0;
    }
    .Find p{
        width:236px;
    }
}